/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

/* Root Variables */
:root {
    --background-color: rgb(7, 7, 7);
    --second-bg-color: black;
    --text-color: white;
    --main-color: rgb(159, 216, 216);
}

/* Global Styles */
html {
    font-size: 60%;
    overflow-x: hidden;
    background: var(--background-color);
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 0;
    background: var(--background-color);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    z-index: 5;
 
}
.body{
    background-image:url(photo.jpg) ;
    background-repeat: n;
    background-position: center;
    background-size: cover;
    background-color: rgb(165, 42, 155);
    text-align: center;
    border: 5px;
    padding: 10px;
}
.submit {
    /* loginbutton */
    background-color: brown;
    width: 200px;
    margin: 35px auto;
    position: relative;
    box-shadow: 20px;
    border-radius: 30px;
font-size: larger;
margin: 0 0 20px 9px;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    text-shadow: 0 0 25px var(--main-color);
    color: var(--main-color);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
#close{
    display: none;
}

/* Sections */
.section {
    min-height: 100vh;
    padding: 10rem 12%;
}

/* Home Section */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 3rem;
}

.home-content h1 {
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-content h3 {
    margin: 1rem 0 2rem;
    font-size: 3.5rem;
}

.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}

span {
    color: var(--main-color);
}

.home-img img {
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color), 0 0 100px var(--main-color);
}


/* Social Icons */
.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover {
    transform: scale(1.3) translateY(-5px);
    color: var(--text-color);
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}

.btn-group {
    display: flex;
    gap: 1.5rem;
}

.btn-group a:nth-of-type(2) {
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

.btn-group a:nth-of-type(2):hover {
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 50px var(--main-color);
}

/* Text Animation */
.text-animation {
    font-size: 3.4rem;
    font-weight: 600;
    position: relative;
}

.text-animation span::before {
    content: "Web Developer";
    color: var(--main-color);
    animation: words 20s infinite;
}

.text-animation span::after {
    content: "";
    background-color: var(--main-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

/* Animations */
@keyframes cursor {
    to {
        border-left: 2px solid var(--main-color);
    }
}
section p{
color:white;
}

@keyframes words {
    0%, 20% {
        content: "Frontend Designer";
    }
    21%, 40% {
        content: "Web Designer";
    }
    61%, 80% {
        content: "Web Developer";
    }
    81%, 100% {
        content: "Software Tester";
    }
}

@keyframes typing {
    0%, 15%, 30%, 45%, 60%, 75%, 90% {
        width: 0;
    }
    10%, 25%, 40%, 55%, 70%, 85% {
        width: calc(100% + 8px);
    }
}

/* Education Section */
.education {
    padding: 50px; 
    background: white
}

.education h2 {
    
    margin-bottom: 10rem;
    
}

/* Timeline Styles */
.timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

.timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: 50% - 1px;
}

.timeline-item {
    width: 100%;
    margin-bottom: 40px;
    position: relative;
}
.timeline{
    padding: 0 300px
}

.timeline-dot {
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
    position: absolute;
    left: calc(50% - 10px);
    border-radius: 50%;
    top: 10px;
}

.timeline-content {
    background-color: var(--background-color);
    border: 3px solid var(--main-color);
    padding: 30px 5rem;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    transition: 0.3s ease-in-out;
}

.timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}

.timeline-content h3 {
    font-size: 3rem;
    color: rgb(185, 29, 29);
    margin-bottom: 30px;
    font-weight: 800;
}

.timeline-content p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 0 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

::-webkit-scrollbar-track {
    background-color: var(--main-color);
    width: 50px;
}
.services{
    background: var(--background-color);
    color: black
}
.services h2{
    margin-left: 5rem;
    color:white;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}
.service-box{
    background-color: var(--main-color);
    height: 300px;
    border-radius: 3rem;
    border: 1cap solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.service-box:hover{
    background: rgb(100, 21, 21);
    color: black;
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}
.service-box .service-info{
    display: flex;
    flex-direction: column;
    text-align: right;
    max-height: 200px;
    justify-items: left;
    align-items: baseline;
    padding: right;
}
.service-info h4{
    font-size: 3rem;
    font-weight: 800;
    line-height: 2;
}
.service-info p{
    font-size: 1.6rem;
    font-weight: 600;
    max-width: 100px;
    line-height: 1.7; 
    margin: auto; 
}
.testimonials {
    background: var(--second-bg-color);
    padding: 10rem 8%;
    color: white;
}

.testimonials h2 {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 10rem;
    color:white
}
#menu-bar{
    display: none;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 2rem;
    padding: 0 100px
}

.testimonial-item {
    background: #111010;
    border: 2px solid var(--main-color);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: transform 0.3s ease;
}

.testimonial-item:hover {
    transform: scale(1.05);
    border-color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
}

.testimonial-item img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 2.5rem;
    box-shadow: 0 0 10px var(--main-color);
}
.Image{
    width: 300px;
        height: 200px;
        padding-left: 20px;
    padding-right: 6px;

}



.testimonial-item h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #d11313;
}

.testimonial-item p {
    font-size: 1.4rem;
    line-height: 1.6;
    color: white;
}

.rating {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.rating i {
    color: gold;
    font-size: 4rem;
}
.contact{
    background-color: var(--background-color);
}
.contact h2{
    margin-bottom: 8px;
    color: white;
}
.contact form{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--second-background-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--second-background-color);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--second-background-color);
}
.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
border-bottom: 3px solid var(--main-color);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}
@media(max-width:1285px){
    html{
        font-size: 55%;
    }
        .services-container{
            padding-bottom: 7rem;
            grid-template-columns: repeat(2,1fr);
            margin: 0 5rem;
        }
}
@media(max-width:991px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .timeline-item::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
}
.timeline-item:nth-child(odd),
.timeline-item:nth-child(even){
    padding-left: 37px;
}
.timeline-dot{
    left: 0;
}
.services{
    padding-bottom: 7rem;
}
.testimonials .wrapper{
    grid-template-columns: repeat(1,1fr);
 
}
.contact form{
    flex-direction: column;
}
.footer{
    padding: 2rem 3%;
}
@media(max-width:895px){
    #menu-bar{
        display: block;
    }
    .timeline{
        padding: 0 10px
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: #000;
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }
    .navbar .active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem; 
        margin: 3rem 0; 
        color: white; 
    }
    /* this new branch */
    .home{
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }
    .wrapper{
        padding: 0 10px
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 8rem;
        margin-top: 3rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img{
        width: 56vw;
    }
    
    .services h2{
        margin-bottom: 3rem;
    }
    .services-container{
        grid-template-columns: repeat(1,1fr);
    }
}